.container-404 {
    text-align: center;
}

.error-code {
    font-size: 10rem;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.message {
    font-size: 1.5rem;
    color: #666;
    margin: 0;
    margin-bottom: 1rem;
}