<div class="row mt-3 w-100">
  <div class="d-flex justify-content-center align-items-center pb-3">
    <div class="w-50">
      <div class="card card-body">
        <div class="col-12">
          <h5>Software Drawing Search (WERS)</h5>
          <hr />
        </div>

        <div class="col-12 mt-1 ">
          <div class="form-group">
            <label class="pb-1"
              >Part Number <span class="required">*</span></label
            >
            <div>
              <input type="text" placeholder="" aria-label="Number" class="" />

              &nbsp;<button type="button" class="btn btn-secondary">
                Search
              </button>
            </div>
          </div>
        </div>
        OR
        <div class="col-12 mt-1 ">
          <div class="form-group">
            <label class="pb-1"
              >WERS Notice <span class="required">*</span></label
            >
            <div>
              <input type="text" placeholder="" aria-label="Number" class="" />

              &nbsp;<button type="button" class="btn btn-secondary">
                Search
              </button>
            </div>
          </div>
        </div>

        <div class="col-12 mt-4 text-center">
            <button type="button" class="btn btn-outline-secondary">Return to Home Page</button>

        </div>
      </div>
    </div>
  </div>
</div>
