<div class="row mt-3 w-100">
  <div class="d-flex justify-content-center align-items-center pb-3">
    <div class="w-100">
      <div class="card card-body">
        <div class="col-12">
          <h5>
            Reset Module Base Information
            <span style="font-size: 11px"
              >(Move status from "Firmware Edit" to "Module Base Info Edit".
              Delete All Firmware. Clear Calibration Review signoffs.)</span
            >
          </h5>
          <hr />
        </div>

        <div class="col-12 mt-1">
          <span style="font-size: 11px"
            >Select the checkbox for each Part Number you want to reset. <br />
            Click "Reset Module Base Information" button on bottum of this
            page"</span
          >
        </div>
        <div class="col-12 mt-1">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Select All
            </label>
          </div>
        </div>

        <div class="col-12 mt-1">
          <table class="table table-bordered ">
            <tbody>
              <tr>
                <th>Select</th>
                <th>
                  <ul>
                    <li>Assembly P/N</li>
                    <li>Calibration</li>
                    <li>Catch Word</li>
                  </ul>
                </th>
                <th>Hardware P/N</th>
                <th>Main Strategy Name</th>
                <th>Lineage</th>
                <th>Program Description</th>
              </tr>
              <tr class="text-center">
                <td colspan="6">
                  <h6>No Part Numbers are currently waiting for firmware</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 mt-0">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Select All
            </label>
          </div>
        </div>
        <div class="col-12 mt-3 text-center d-flex justify-content-between">
          <button type="button" class="btn btn-outline-primary">
            Reset Module Base Info
          </button>
          <button type="button" class="btn btn-outline-primary">
            Release Home Page
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
