<div class="row mt-3 w-100">
  <div class="d-flex justify-content-center align-items-center pb-3">
    <div class="w-75">
      <div class="card card-body">
        <div class="col-12">
          <h5>Find Production Part Number</h5>
          <hr />
        </div>

        <div class="col-12 mt-1">
          <div class="form-group">
            <label class="pb-1"
              >Part Number <span class="required">*</span></label
            >
            <div>
              <input
                type="text"
                placeholder=""
                aria-label="Number"
                class=""
              />-<input
                type="text"
                placeholder="12A650"
                aria-label="Number"
                class=""
              />-<input
                type="text"
                placeholder=""
                aria-label="Number"
                class=""
              />
            </div>
          </div>
        </div>

        <div class="col-12 mt-1">
          <div class="form-group">
            <label class="pb-1"
              >WERS Notice <span class="required">*</span></label
            >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
              <span class="input-group-text" id="basic-addon2"
                >example: "APED E 11696390 003"</span
              >
            </div>
          </div>
        </div>

        <div class="col-12 mt-1">
          <div class="form-group">
            <label class="pb-1"
              >Catch Word <span class="required">*</span></label
            >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
            </div>
          </div>
        </div>

        <div class="col-12 mt-1">
          <div class="form-group">
            <label class="pb-1"
              >Software Part Number <span class="required">*</span></label
            >
            <div>
              <input
                type="text"
                placeholder=""
                aria-label="Number"
                class=""
              />-<input
                type="text"
                placeholder="14C204"
                aria-label="Number"
                class=""
              />-<input
                type="text"
                placeholder=""
                aria-label="Number"
                class=""
              />
            </div>
          </div>
        </div>

        <div class="col-12 mt-1">
          <div class="form-group">
            <label class="pb-1"
              >Calibration Number <span class="required">*</span></label
            >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
            </div>
          </div>
        </div>

        <div class="col-12 mt-1">
          <div class="form-group">
            <label class="pb-1"
              >Input File (Main Strategy) <span class="required">*</span></label
            >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
            </div>
          </div>
        </div>

        <div class="col-12 mt-2">
          <div class="form-group">
            <label class="pb-1">Chip ID <span class="required">*</span></label>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
            </div>
          </div>
        </div>
        <div class="col-12 mt-4 text-center d-flex justify-content-between">
          <button type="button" class="btn btn-primary">Search</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>

        <div class="col-12 mt-3">
           <p>Instructions:</p>
           <small class="text-muted">Fill out any criteria you wish to search on. Use a "*" as wild card. Example: If you want to search for all concern numbers starting</small>
           <small class="text-muted">with "123" then type "123*"</small>
           <p>
            <small class="text-muted">If you want to find concern number "123" then type "123"</small>
            <small class="text-muted">If you want to find all concern numbers with an unknown character then type "123"</small>
           </p>
          </div>



      </div>
    </div>
  </div>
</div>
