<div class="row mt-3 w-100">
    <div class="d-flex justify-content-center align-items-center pb-3">
      <div class="w-75">
        <div class="card card-body">
          <div class="col-12">
            <h5>Complete / Edit Calibration Review (Select Concern)</h5>
            <hr />
          </div>
  
          <div class="col-12 mt-1 text-center">
            <div class="input-group justify-content-center">
                <button type="button" class="btn btn-outline-secondary">Concern Number</button>
                <button type="button" class="btn btn-outline-secondary">Module Type</button>
                <button type="button" class="btn btn-outline-secondary">Release Type</button>
                <button type="button" class="btn btn-outline-secondary">Program</button>
              </div>
          </div>
          <div class="col-12 mt-4 text-center">
            <button type="button" class="btn btn-primary">Return to Home Page</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  
