
<div class="row mt-3 w-100">
    <div class="d-flex justify-content-center align-items-center pb-3">
      <div class="w-75">
        <div class="card card-body">
          <div class="col-12">
            <h5>Generate WERS D Screen (Concern Number)</h5>
            <hr />
          </div>
  
          <div class="col-12 mt-1 text-center">
            <div class="input-group">
                <span class="input-group-text">WERS Concern</span>
                <input type="text" aria-label="First name" class="form-control">
                <button type="button" class="btn btn-secondary">Generate WERS D Screen</button>
              </div>
          </div>
          <div class="col-12 mt-4 text-center">
            <button type="button" class="btn btn-outline-primary">Return to Home Page</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  