<div class="row mt-3 w-100">
  <div class="d-flex justify-content-center align-items-center pb-3">
    <div class="w-50">
      <div class="card card-body">
        <div class="col-12">
          <h5>Add SBL</h5>
          <hr/>
        </div>
        <div class="col-12 mt-1">
          <div class="form-group">
            <label class="pb-1">Release Type <span class="required">*</span></label>
            <select class="form-control" [(ngModel)]="addSBLData.release_type">
              <option value="new_sbl">New SBL</option>
              <option value="replace_sbl">
                Replace SBL (Backward Compatible)
              </option>
            </select>
          </div>
        </div>
        <div *ngIf="addSBLData.release_type === 'new_sbl'" class="col-12 mt-2">
          <label class="pb-1">Supplier <span class="required">*</span></label>
          <div>
            <input
              type="text"
              placeholder="--Select Supplier--"
              [(ngModel)]="addSBLData.supplier"
              (input)="filterOptions('supplier')"
              [matAutocomplete]="supplier"
              class="form-control"
            />
            <mat-autocomplete #supplier="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptionsSupplier"
                [value]="option"
                >{{ option }}</mat-option
              >
            </mat-autocomplete>
          </div>
        </div>
        <div class="col-12 mt-2">
          <div class="form-group">
            <label class="pb-1">Module Type <span class="required">*</span></label>
            <div>
              <input
                type="text"
                placeholder="--Select Module Type--"
                [(ngModel)]="addSBLData.module_type"
                (input)="filterOptions('module_type')"
                [matAutocomplete]="module_type"
                class="form-control"
              />
              <mat-autocomplete #module_type="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptionsModuleType"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div
          class="col-12 mt-2"
          *ngIf="addSBLData.release_type === 'replace_sbl'"
        >
          <div class="form-group">
            <label class="pb-1">Current Part Number <span class="required">*</span></label>
            <div>
              <input
                type="text"
                placeholder="Current Part Number"
                aria-label="Number"
                [(ngModel)]="addSBLData.current_part_number"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="col-12 mt-2" *ngIf="addSBLData.release_type === 'new_sbl'">
          <div class="form-group">
            <label class="pb-1">Micro Type <span class="required">*</span></label>
            <div>
              <input
                type="text"
                placeholder="--Select Micro Type--"
                [(ngModel)]="addSBLData.micro_type"
                (input)="filterOptions('micro_type')"
                [matAutocomplete]="micro_type"
                class="form-control"
              />
              <mat-autocomplete #micro_type="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptionsMicroType"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div *ngIf="addSBLData.release_type === 'new_sbl'" class="col-12 mt-2">
          <div class="form-group">
            <label class="pb-1">Load MY/Program <span class="required">*</span></label>
            <input
              type="text"
              placeholder="Load MY/Program"
              class="form-control"
              rows="1"
              [(ngModel)]="addSBLData.lead_my_program"
            />
          </div>
        </div>
        <div class="col-12 mt-2">
          <div class="form-group">
            <label class="pb-1">Description <span class="required">*</span></label>
            <textarea
              class="form-control"
              rows="4"
              [(ngModel)]="addSBLData.description"
            ></textarea>
          </div>
        </div>
        <div class="col-12 mt-2 text-end">
          <button class="btn btn-sm app-btn-primary" (click)="addSBL()">
            Submit Part</button
          >&nbsp;&nbsp;
          <button class="btn btn-sm btn-danger" (click)="cancelSubmit()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
