<div class="row mt-3 w-100">
  <div class="d-flex justify-content-center align-items-center pb-3">
    <div class="w-75">
      <div class="card card-body">
        <div class="col-12">
          <h5>Generate Coordinated Module Matrix (Concern Number)</h5>
          <hr />
        </div>

        <div class="col-12 mt-2">
          <div class="form-group">
            <label class="pb-1"
              >WERS Concern <span class="required">*</span></label
            >
            <div>
              <input
                type="text"
                placeholder=""
                aria-label="Number"
                
                class=""
              />
             
             &nbsp;<button type="button" class="btn btn-secondary">Generate Module Matrix</button>
             &nbsp; <button type="button" class="btn btn-secondary">Return to Home Page</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
