<div class="row mt-3 w-100">
  <div class="d-flex justify-content-center align-items-center pb-3">
    <div class="w-75">
      <div class="card card-body">
        <div class="col-12">
          <h5>Ford Supplier Cal Download</h5>
          <hr />
        </div>

        <div class="col-12 mt-1">
            <small><label>User ID</label>: DSADASH1</small>

        </div>
        <div class="col-12 mt-1">
            <small><label>Company</label>: Ford</small>

        </div>

        <div class="col-12 mt-1">
            <div class="form-group">
              <label class="pb-1"
                >Assembly Part Number <small class="text-muted">(Exapmle 12A650 or 12B565)</small> <span class="required">*</span></label
              >
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Recipient's username"
                  aria-describedby="basic-addon2"
                />
              </div>
            </div>
          </div>
        
        <div class="col-12 mt-4 text-center d-flex justify-content-between">
          <button type="button" class="btn btn-primary">Ok</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>

        <div class="col-12 mt-3">
          <p>Instructions:</p>
        </div>
      </div>
    </div>
  </div>
</div>
